@import url("https://fonts.googleapis.com/css2?family=Arapey&family=Open+Sans:wght@400;600&display=swap");

body {
  background-color: #f6f2ef;
  font-family: Open-serif, sans-serif;
}

img {
  object-fit: cover;
}

.top-nav-div {
  font-family: Arapey, serif;
}

.logo {
  --bs-navbar-brand-color: rgb(152, 146, 93);
  color: var(--bs-navbar-brand-color);
  letter-spacing: 0.45rem;
  font-family: Arapey, serif;
}

.navbar-collapse,
.font-cust {
  font-family: Open-serif, sans-serif;
}

.letter-spacing {
  letter-spacing: 0.25rem;
}

.border-top-bg {
  border: 25px dashed #e8e3df;
  border-radius: 50%;
  margin: 25px;
}

.top-round {
  border-top-left-radius: 190px;
  border-top-right-radius: 190px;
  width: 380px;
}

.img-top-round {
  height: 600px;
  right: 5%;
  top: 9%;
}
.img-bottom-round {
  border-bottom-left-radius: 190px;
  border-bottom-right-radius: 190px;
  height: 600px;
  width: 380px;
  left: 13%;
  top: 35%;
  z-index: 10;
}

.left-top-border {
  width: 600px;
  border-top-left-radius: 350px;
}

.pb-400 {
  padding-bottom: 400px;
}

.py-100 {
  padding: 100px 0;
}

.py-200 {
  padding: 200px 0px;
}

.h-img {
  height: 300px;
}
